[mysqld]
innodb_force_recovery   = 0
key_buffer_size         = 32M
read_buffer_size        = 32M
net_read_timeout        = 360
wait_timeout            = 360
interactive_timeout     = 360
max_allowed_packet      = 32M
thread_stack            = 192K
thread_cache_size       = 8
innodb_buffer_pool_size = 64M